# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a9b7a5d254225867de1da06
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a9b7a5d254225867de1da06
